#main {margin: 3rem 3rem}

.type {
  display: flex;
  margin-bottom: 1rem;
}

.col {flex-direction: column;}

.type div {
  display: flex;
  flex-direction: column;
  width: 25vw;
}

.type div:not(:first-child) {
  margin-left: 3rem;
}

.name {font-family: monospace;}

#iconrow div {
  width: 35vw;
}

#colors-container .type div {margin-top: 1rem;}
#colors-container div:not(:first-child) {
  margin-left: 0;
}